In [1]:
import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

# Wikipedia header tag

In [2]:
#wikipedia
page = requests.get('https://en.wikipedia.org/wiki/Main_Page?')
soup=BeautifulSoup(page.content)
tag=soup.find_all('ul',id="mp-portals")
header_tag=[]
for i in tag:
    header_tag.append(i.text)
header_tag

['\nThe arts\nBiography\nGeography\nHistory\nMathematics\nScience\nSociety\nTechnology\nAll portals\n']

# imdb top 100

In [3]:
page = requests.get('https://www.imdb.com/list/ls091520106/')
soup=BeautifulSoup(page.content)
name=soup.find_all("h3",class_="lister-item-header")
movie_name=[]
for i in name:
    for j in i.find_all("a"):
        movie_name.append(i.text.replace("\n",""))
movie_name

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Godfather: Part II(1974)',
 '4.The Dark Knight(2008)',
 '5.12 Angry Men(1957)',
 "6.Schindler's List(1993)",
 '7.The Lord of the Rings: The Return of the King(2003)',
 '8.Pulp Fiction(1994)',
 '9.Il buono, il brutto, il cattivo(1966)',
 '10.Fight Club(1999)',
 '11.Joker(2019)',
 '12.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '13.Forrest Gump(1994)',
 '14.Inception(2010)',
 '15.Star Wars: Episode V - The Empire Strikes Back(1980)',
 '16.The Lord of the Rings: The Two Towers(2002)',
 '17.The Matrix(1999)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Goodfellas(1990)',
 '20.Shichinin no samurai(1954)',
 '21.Se7en(1995)',
 '22.Cidade de Deus(2002)',
 '23.La vita è bella(1997)',
 '24.The Silence of the Lambs(1991)',
 '25.Star Wars(1977)',
 "26.It's a Wonderful Life(1946)",
 '27.Saving Private Ryan(1998)',
 '28.Sen to Chihiro no kamikakushi(2001)',
 '29.The Green Mile(1999)',
 '30.Léon(1994)',
 '31.Seppuku(1962)',
 '32.Interstellar(2014)',
 '33.The Usual Suspects(1995)',
 '34.The Lion King(1994)',
 '35.American History X(1998)',
 '36.Back to the Future(1985)',
 '37.The Pianist(2002)',
 '38.Modern Times(1936)',
 '39.Terminator 2: Judgment Day(1991)',
 '40.The Intouchables(2011)',
 '41.Psycho(1960)',
 '42.Gladiator(2000)',
 '43.City Lights(1931)',
 '44.The Departed(2006)',
 '45.Whiplash(2014)',
 '46.Once Upon a Time in the West(1968)',
 '47.The Prestige(2006)',
 '48.Avengers: Endgame(2019)',
 '49.Casablanca(1942)',
 '50.Hotaru no haka(1988)',
 '51.Rear Window(1954)',
 '52.Nuovo Cinema Paradiso(1988)',
 '53.Alien(1979)',
 '54.Raiders of the Lost Ark(1981)',
 '55.Memento(2000)',
 '56.Apocalypse Now(1979)',
 '57.The Great Dictator(1940)',
 '58.The Lives of Others(2006)',
 '59.Avengers: Infinity War(2018)',
 '60.Django Unchained(2012)',
 '61.Spider-Man: Into the Spider-Verse(2018)',
 '62.The Shining(1980)',
 '63.Paths of Glory(1957)',
 '64.WALL·E(2008)',
 '65.Sunset Blvd.(1950)',
 '66.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '67.Mononoke-hime(1997)',
 '68.Oldeuboi(2003)',
 '69.Witness for the Prosecution(1957)',
 '70.The Dark Knight Rises(2012)',
 '71.Once Upon a Time in America(1984)',
 '72.Gisaengchung(2019)',
 '73.Aliens(1986)',
 '74.American Beauty(1999)',
 '75.Coco(I) (2017)',
 '76.Kimi no na wa.(2016)',
 '77.Braveheart(1995)',
 '78.Das Boot(1981)',
 '79.3 Idiots(2009)',
 '80.Taare Zameen Par(2007)',
 '81.Star Wars: Episode VI - Return of the Jedi(1983)',
 '82.Toy Story(1995)',
 '83.Reservoir Dogs(1992)',
 '84.Amadeus(1984)',
 '85.Dangal(2016)',
 '86.Good Will Hunting(1997)',
 '87.Inglourious Basterds(2009)',
 '88.M - Eine Stadt sucht einen Mörder(1931)',
 '89.Requiem for a Dream(2000)',
 '90.2001: A Space Odyssey(1968)',
 '91.Vertigo(1958)',
 '92.Eternal Sunshine of the Spotless Mind(2004)',
 '93.Citizen Kane(1941)',
 '94.Full Metal Jacket(1987)',
 '95.Jagten(2012)',
 '96.North by Northwest(1959)',
 '97.A Clockwork Orange(1971)',
 '98.Snatch(2000)',
 '99.Amélie(2001)',
 '100.The Kid(1921)']

In [4]:
rating_all=soup.find_all("div",class_="ipl-rating-star small")
rating=[]
for i in rating_all:
    rating.append(i.text.replace("\n",""))
rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [5]:
year_all=soup.find_all("span",class_="lister-item-year text-muted unbold")
year=[]
for i in year_all:
    year.append(i.text.replace("\n",""))
year

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [6]:
df=pd.DataFrame({})
df['Name']=movie_name
df['Year']=year
df['Rating']=rating
df

                                Name    Year Rating
0   1.The Shawshank Redemption(1994)  (1994)    9.3
1              2.The Godfather(1972)  (1972)    9.2
2     3.The Godfather: Part II(1974)  (1974)      9
3            4.The Dark Knight(2008)  (2008)      9
4               5.12 Angry Men(1957)  (1957)      9
..                               ...     ...    ...
95       96.North by Northwest(1959)  (1959)    8.3
96       97.A Clockwork Orange(1971)  (1971)    8.3
97                   98.Snatch(2000)  (2000)    8.3
98                   99.Amélie(2001)  (2001)    8.3
99                 100.The Kid(1921)  (1921)    8.3

[100 rows x 3 columns]

# imdb top 100 Bollywood

In [7]:
page = requests.get('https://www.imdb.com/list/ls009997493/')
soup=BeautifulSoup(page.content)
name=soup.find_all("h3",class_="lister-item-header")
movie_name=[]
for i in name:
    for j in i.find_all("a"):
        movie_name.append(i.text.replace("\n",""))
movie_name

['1.Rang De Basanti(2006)',
 '2.3 Idiots(2009)',
 '3.Taare Zameen Par(2007)',
 '4.Dil Chahta Hai(2001)',
 '5.Swades: We, the People(2004)',
 '6.Lagaan: Once Upon a Time in India(2001)',
 '7.Gangs of Wasseypur(2012)',
 '8.Barfi!(2012)',
 '9.Anand(1971)',
 '10.Munna Bhai M.B.B.S.(2003)',
 '11.A Wednesday(2008)',
 '12.Andaz Apna Apna(1994)',
 '13.Sholay(1975)',
 '14.Bhaag Milkha Bhaag(2013)',
 '15.Hera Pheri(2000)',
 '16.Udaan(2010)',
 '17.Kahaani(2012)',
 '18.Black(2005)',
 '19.Chak De! India(2007)',
 '20.Khosla Ka Ghosla!(2006)',
 '21.Jo Jeeta Wohi Sikandar(1992)',
 '22.Zindagi Na Milegi Dobara(2011)',
 '23.Paan Singh Tomar(2012)',
 '24.Dilwale Dulhania Le Jayenge(1995)',
 '25.Omkara(2006)',
 '26.Lage Raho Munna Bhai(2006)',
 '27.Iqbal(2005)',
 '28.The Lunchbox(2013)',
 '29.Black Friday(2004)',
 '30.Company(2002)',
 '31.Golmaal(1979)',
 '32.Dev.D(2009)',
 '33.Jaane Bhi Do Yaaro(1983)',
 '34.OMG: Oh My God!(2012)',
 '35.Mughal-E-Azam(1960)',
 '36.Gulaal(2009)',
 '37.Dor(2006)',
 '38.Jab We Met(2007)',
 '39.Pyaasa(1957)',
 '40.The Legend of Bhagat Singh(2002)',
 '41.Masoom(1983)',
 '42.Salaam Bombay!(1988)',
 '43.Satya(1998)',
 '44.Vicky Donor(2012)',
 '45.Lakshya(2004)',
 '46.Vaastav: The Reality(1999)',
 '47.Kal Ho Naa Ho(2003)',
 '48.Oye Lucky! Lucky Oye!(2008)',
 '49.Sarfarosh(1999)',
 '50.Gangaajal(2003)',
 '51.Angoor(1982)',
 '52.Madras Cafe(2013)',
 '53.English Vinglish(2012)',
 '54.Chupke Chupke(1975)',
 '55.Johnny Gaddaar(2007)',
 '56.Maqbool(2003)',
 '57.Hazaaron Khwaishein Aisi(2003)',
 '58.Rock On!!(2008)',
 '59.Don(1978)',
 '60.Chhoti Si Baat(1976)',
 '61.Guide(1965)',
 '62.Raanjhanaa(2013)',
 '63.Deewaar(1975)',
 '64.Special Chabbis(2013)',
 '65.Padosan(1968)',
 '66.Mumbai Meri Jaan(2008)',
 '67.Ab Tak Chhappan(2004)',
 '68.Kai po che!(2013)',
 '69.Awaara(1951)',
 '70.Shree 420(1955)',
 '71.Earth(1998)',
 '72.Gunda(1998)',
 '73.Parinda(1989)',
 '74.Dasvidaniya(2008)',
 '75.Hey Ram(2000)',
 '76.Pinjar: Beyond Boundaries...(2003)',
 '77.Socha Na Tha(2005)',
 '78.Guru(2007)',
 '79.Bawarchi(1972)',
 '80.Manorama: Six Feet Under(2007)',
 '81.Mr. India(1987)',
 '82.Aamir(2008)',
 '83.Zakhm(1998)',
 '84.Water(I) (2005)',
 '85.Stanley Ka Dabba(2011)',
 '86.Agneepath(1990)',
 '87.My Name Is Khan(2010)',
 '88.Qayamat Se Qayamat Tak(1988)',
 '89.3 Deewarein(2003)',
 '90.Abhimaan(1973)',
 '91.Sarkar(2005)',
 '92.Bheja Fry(2007)',
 '93.Mother India(1957)',
 '94.Jaane Tu... Ya Jaane Na(2008)',
 '95.Delhi Belly(2011)',
 '96.Wake Up Sid(2009)',
 '97.Rangeela(1995)',
 '98.Shatranj Ke Khilari(1977)',
 '99.Pyaar Ka Punchnama(2011)',
 '100.Ek Hasina Thi(2004)']

In [8]:
rating_all=soup.find_all("div",class_="ipl-rating-star small")
rating=[]
for i in rating_all:
    rating.append(i.text.replace("\n",""))
rating

['8.1',
 '8.4',
 '8.4',
 '8.1',
 '8.2',
 '8.1',
 '8.2',
 '8.1',
 '8.3',
 '8.1',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8',
 '8.1',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '8',
 '8.4',
 '8.1',
 '8.2',
 '8.1',
 '7.9',
 '7.9',
 '8.4',
 '8.1',
 '8.4',
 '8',
 '8.2',
 '7.8',
 '7.9',
 '8',
 '7.9',
 '7.7',
 '8.1',
 '7.8',
 '8.3',
 '7.7',
 '7.8',
 '8.3',
 '7.8',
 '8.1',
 '7.9',
 '7.7',
 '7.8',
 '8.3',
 '8.4',
 '7.6',
 '8.1',
 '8',
 '8.1',
 '7.7',
 '7.8',
 '7.8',
 '7.9',
 '8',
 '7.7',
 '7.3',
 '7.9',
 '7.8',
 '7.9',
 '8',
 '7.4',
 '7.7',
 '8.1',
 '7.6',
 '7.8',
 '7.7',
 '7.9',
 '7.7',
 '7.8',
 '7.7',
 '8',
 '7.5',
 '7.8',
 '7.9',
 '7.6',
 '7.6',
 '8',
 '7.5',
 '7.6',
 '7.6',
 '7.5',
 '7.7',
 '7.6',
 '7.5']

In [9]:
year_all=soup.find_all("span",class_="lister-item-year text-muted unbold")
year=[]
for i in year_all:
    year.append(i.text.replace("\n",""))
year

['(2006)',
 '(2009)',
 '(2007)',
 '(2001)',
 '(2004)',
 '(2001)',
 '(2012)',
 '(2012)',
 '(1971)',
 '(2003)',
 '(2008)',
 '(1994)',
 '(1975)',
 '(2013)',
 '(2000)',
 '(2010)',
 '(2012)',
 '(2005)',
 '(2007)',
 '(2006)',
 '(1992)',
 '(2011)',
 '(2012)',
 '(1995)',
 '(2006)',
 '(2006)',
 '(2005)',
 '(2013)',
 '(2004)',
 '(2002)',
 '(1979)',
 '(2009)',
 '(1983)',
 '(2012)',
 '(1960)',
 '(2009)',
 '(2006)',
 '(2007)',
 '(1957)',
 '(2002)',
 '(1983)',
 '(1988)',
 '(1998)',
 '(2012)',
 '(2004)',
 '(1999)',
 '(2003)',
 '(2008)',
 '(1999)',
 '(2003)',
 '(1982)',
 '(2013)',
 '(2012)',
 '(1975)',
 '(2007)',
 '(2003)',
 '(2003)',
 '(2008)',
 '(1978)',
 '(1976)',
 '(1965)',
 '(2013)',
 '(1975)',
 '(2013)',
 '(1968)',
 '(2008)',
 '(2004)',
 '(2013)',
 '(1951)',
 '(1955)',
 '(1998)',
 '(1998)',
 '(1989)',
 '(2008)',
 '(2000)',
 '(2003)',
 '(2005)',
 '(2007)',
 '(1972)',
 '(2007)',
 '(1987)',
 '(2008)',
 '(1998)',
 '(I) (2005)',
 '(2011)',
 '(1990)',
 '(2010)',
 '(1988)',
 '(2003)',
 '(1973)',
 '(2005)',
 '(2007)',
 '(1957)',
 '(2008)',
 '(2011)',
 '(2009)',
 '(1995)',
 '(1977)',
 '(2011)',
 '(2004)']

In [10]:
df=pd.DataFrame({})
df['Name']=movie_name
df['Year']=year
df['Rating']=rating
df

                              Name    Year Rating
0          1.Rang De Basanti(2006)  (2006)    8.1
1                 2.3 Idiots(2009)  (2009)    8.4
2         3.Taare Zameen Par(2007)  (2007)    8.4
3           4.Dil Chahta Hai(2001)  (2001)    8.1
4   5.Swades: We, the People(2004)  (2004)    8.2
..                             ...     ...    ...
95            96.Wake Up Sid(2009)  (2009)    7.6
96               97.Rangeela(1995)  (1995)    7.5
97    98.Shatranj Ke Khilari(1977)  (1977)    7.7
98     99.Pyaar Ka Punchnama(2011)  (2011)    7.6
99         100.Ek Hasina Thi(2004)  (2004)    7.5

[100 rows x 3 columns]

# Name genre and book review

In [11]:
page = requests.get('https://bookpage.com/reviews')
soup=BeautifulSoup(page.content)
name=soup.find_all("h4",class_="italic")
book_name=[]
for i in name:
    for j in i.find_all("a"):
        book_name.append(i.text.replace("\n",""))
book_name

[' ★ The Other Black Girl',
 ' ★ Walking on Cowrie Shells',
 'Malibu Rising',
 'Both Can Be True',
 ' ★ The One Hundred Years of Lenni and Margot',
 'We Can’t Keep Meeting Like This',
 ' ★ The Ride of Her Life',
 ' ★ Golden Girl',
 'The Road Trip',
 'The Rescuer of Tiny Creatures']

In [12]:
author_name=soup.find_all("p",class_="sans bold")
author=[]
for i in author_name:
    author.append(i.text.replace("\n",""))
author

['Zakiya Dalila Harris',
 'Nana Nkweti',
 'Taylor Jenkins Reid',
 'Jules Machias',
 'Marianne Cronin',
 'Rachel Lynn Solomon',
 'Elizabeth Letts',
 'Elin Hilderbrand',
 "Beth O'Leary",
 'Curtis Manley, Lucy Ruth Cummins']

In [13]:
book_genre=soup.find_all("p",class_="genre-links hidden-phone")
genre=[]
for i in book_genre:
    genre.append(i.text.replace("\n",""))
genre

['Fiction / Literary Fiction',
 'Fiction / Short Stories',
 'Fiction / Popular Fiction',
 "Children's / Middle Grade",
 'Fiction / Popular Fiction',
 'YA / YA Fiction',
 'Nonfiction / Biography / Animals',
 'Fiction / Family Drama',
 'Romance / Contemporary Romance',
 "Children's / Children's Picture Book"]

In [14]:
book_review=soup.find_all("p",class_="excerpt")
review=[]
for i in book_review:
    review.append(i.text.replace("\n",""))
review

['Brilliantly positioned at the intersection of satire and social horror, Zakiya Dalila Harris’ debut novel is a genre-bending creative triumph.',
 'With the ease of a master, Nana Nkweti shifts between points of view, between American and African slang, and between the straightforward and the avant-garde.',
 'Malibu Rising is packed with plenty of scintillating scandal, but Taylor Jenkins Reid’s irresistible characters are the novel’s greatest success.',
 '',
 'Even in the face of death’s inevitability, friendship can be found, forgiveness can flourish and fun can ease fear.',
 '',
 'This is a feel-good story in every way, and Elizabeth Letts keeps the momentum lively, sprinkling in interesting historical tidbits that enrich the drama.',
 'Killing off the main character just a few pages into a book is somewhat unorthodox, but it’s just the first of many interesting choices Elin Hilderbrand makes.',
 '',
 '']

In [15]:
df=pd.DataFrame({})
df['Book Name']=book_name
df['Author Name']=author
df['Genre']=genre
df['Review']=review
df

,Book Name,Author Name,Genre,Review
0,★ The Other Black Girl,Zakiya Dalila Harris,Fiction / Literary Fiction,Brilliantly positioned at the intersection of ...
1,★ Walking on Cowrie Shells,Nana Nkweti,Fiction / Short Stories,"With the ease of a master, Nana Nkweti shifts ..."
2,Malibu Rising,Taylor Jenkins Reid,Fiction / Popular Fiction,Malibu Rising is packed with plenty of scintil...
3,Both Can Be True,Jules Machias,Children's / Middle Grade,
4,★ The One Hundred Years of Lenni and Margot,Marianne Cronin,Fiction / Popular Fiction,"Even in the face of death’s inevitability, fri..."
5,We Can’t Keep Meeting Like This,Rachel Lynn Solomon,YA / YA Fiction,
6,★ The Ride of Her Life,Elizabeth Letts,Nonfiction / Biography / Animals,"This is a feel-good story in every way, and El..."
7,★ Golden Girl,Elin Hilderbrand,Fiction / Family Drama,Killing off the main character just a few page...
8,The Road Trip,Beth O'Leary,Romance / Contemporary Romance,
9,The Rescuer of Tiny Creatures,"Curtis Manley, Lucy Ruth Cummins",Children's / Children's Picture Book,

# Cricket Ranking Mens

Top ODI men's team

In [16]:
from bs4 import BeautifulSoup
import requests
url= "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
source = requests.get(url).text
soup = BeautifulSoup(source,"lxml")

right_table=soup.find('table', class_='table')
A=[]
B=[]
C=[]
D=[]
E=[]
#for making first heaader
states = right_table.find('tr')
s = states.find_all('th')

for row in right_table.findAll('tr'):
      # first row has no TH, but other rows have one TH and 6 TD
    cells = row.findAll('td') 
    # first row has 7 TH 
    if len(cells) == 5:
        A.append(cells[0].text.strip()) #rank,it is not position
        #skip the sequence number column
        B.append(cells[1].text.strip())
        C.append(cells[2].text.strip())
        D.append(cells[3].text.strip())
        E.append(cells[4].text.strip())
      
    
    

df=pd.DataFrame({})
df['Rank']=A
df['Team']=B
df['Match']=C
df['Points']=D
df['Rating']=E
df

   Rank                   Team Match Points Rating
0     1        New Zealand\nNZ    17  2,054    121
1     2         Australia\nAUS    25  2,945    118
2     3             India\nIND    29  3,344    115
3     4           England\nENG    27  3,100    115
4     5       South Africa\nSA    20  2,137    107
5     6          Pakistan\nPAK    24  2,323     97
6     7        Bangladesh\nBAN    27  2,438     90
7     8        West Indies\nWI    27  2,222     82
8     9          Sri Lanka\nSL    24  1,876     78
9    10       Afghanistan\nAFG    17  1,054     62
10   11       Netherlands\nNED     5    249     50
11   12           Ireland\nIRE    19    807     42
12   13          Zimbabwe\nZIM    15    588     39
13   14          Scotland\nSCO     7    258     37
14   15              Oman\nOMA     7    240     34
15   16             Nepal\nNEP     5    119     24
16   17               UAE\nUAE     9    190     21
17   18           Namibia\nNAM     6     97     16
18   19     United States\nUSA     8     93     12
19   20  Papua New Guinea\nPNG     5      0      0

Top 10 ODI Batsmen

In [17]:
url= "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
source = requests.get(url).text
soup = BeautifulSoup(source,"lxml")

right_table=soup.find('table', class_='table')
A=[]
B=[]
C=[]
D=[]
#for making first heaader
states = right_table.find('tr')
s = states.find_all('th')

for row in right_table.findAll('tr'):
      # first row has no TH, but other rows have one TH and 6 TD
    cells = row.findAll('td') 
    # first row has 7 TH 
    if len(cells) == 5:
        A.append(cells[0].text.strip()) #rank,it is not position
        #skip the sequence number column
        B.append(cells[1].text.strip())
        C.append(cells[2].text.strip())
        D.append(cells[3].text.strip())
      
    
    

df=pd.DataFrame({})
df['Rank']=A
df['Player']=B
df['Team']=C
df['Rating']=D
df[:10]

  Rank               Player Team Rating
0    1           Babar Azam  PAK    865
1    2          Virat Kohli  IND    857
2    3         Rohit Sharma  IND    825
3    4          Ross Taylor   NZ    801
4    5          Aaron Finch  AUS    791
5    6       Jonny Bairstow  ENG    785
6    7         Fakhar Zaman  PAK    778
7       Francois du Plessis   SA    778
8    9         David Warner  AUS    773
9                 Shai Hope   WI    773

Top 10 ODI Bowlers

In [18]:
url= "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
source = requests.get(url).text
soup = BeautifulSoup(source,"lxml")

right_table=soup.find('table', class_='table')
A=[]
B=[]
C=[]
D=[]
#for making first heaader
states = right_table.find('tr')
s = states.find_all('th')

for row in right_table.findAll('tr'):
      # first row has no TH, but other rows have one TH and 6 TD
    cells = row.findAll('td') 
    # first row has 7 TH 
    if len(cells) == 5:
        A.append(cells[0].text.strip()) #rank,it is not position
        #skip the sequence number column
        B.append(cells[1].text.strip())
        C.append(cells[2].text.strip())
        D.append(cells[3].text.strip())
      
    
    

df=pd.DataFrame({})
df['Rank']=A
df['Player']=B
df['Team']=C
df['Rating']=D
df[:10]

,Rank,Player,Team,Rating
0,1,Trent Boult,NZ,737
1,2,Mehedi Hasan,BAN,713
2,3,Mujeeb Ur Rahman,AFG,708
3,4,Matt Henry,NZ,691
4,5,Jasprit Bumrah,IND,690
5,6,Kagiso Rabada,SA,666
6,7,Chris Woakes,ENG,665
7,8,Josh Hazlewood,AUS,660
8,9\n \n\n\n\nThis player has moved up in...,Pat Cummins,AUS,646
9,10\n \n\n\n\nThis player has moved down...,Mustafizur Rahman,BAN,645

# Cricket Ranking Women

Top 10 ODI teams in women’s cricket

In [19]:
from bs4 import BeautifulSoup
import requests
url= "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
source = requests.get(url).text
soup = BeautifulSoup(source,"lxml")

right_table=soup.find('table', class_='table')
A=[]
B=[]
C=[]
D=[]
E=[]
#for making first heaader
states = right_table.find('tr')
s = states.find_all('th')

for row in right_table.findAll('tr'):
      # first row has no TH, but other rows have one TH and 6 TD
    cells = row.findAll('td') 
    # first row has 7 TH 
    if len(cells) == 5:
        A.append(cells[0].text.strip()) #rank,it is not position
        #skip the sequence number column
        B.append(cells[1].text.strip())
        C.append(cells[2].text.strip())
        D.append(cells[3].text.strip())
        E.append(cells[4].text.strip())
      
    
    

df=pd.DataFrame({})
df['Rank']=A
df['Team']=B
df['Match']=C
df['Points']=D
df['Rating']=E
df

  Rank              Team Match Points Rating
0    1    Australia\nAUS    18  2,955    164
1    2  South Africa\nSA    24  2,828    118
2    3      England\nENG    17  1,993    117
3    4        India\nIND    20  2,226    111
4    5   New Zealand\nNZ    21  1,947     93
5    6   West Indies\nWI    12  1,025     85
6    7     Pakistan\nPAK    15  1,101     73
7    8   Bangladesh\nBAN     5    306     61
8    9     Sri Lanka\nSL    11    519     47
9   10      Ireland\nIRE     2     25     13

Top 10 women’s ODI players

In [20]:
from bs4 import BeautifulSoup
import requests
url= "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
source = requests.get(url).text
soup = BeautifulSoup(source,"lxml")

right_table=soup.find('table', class_='table')
A=[]
B=[]
C=[]
D=[]
#for making first heaader
states = right_table.find('tr')
s = states.find_all('th')

for row in right_table.findAll('tr'):
      # first row has no TH, but other rows have one TH and 6 TD
    cells = row.findAll('td') 
    # first row has 7 TH 
    if len(cells) == 5:
        A.append(cells[0].text.strip()) #rank,it is not position
        #skip the sequence number column
        B.append(cells[1].text.strip())
        C.append(cells[2].text.strip())
        D.append(cells[3].text.strip())
        
      
    
    

df=pd.DataFrame({})
df['Rank']=A
df['Player']=B
df['Team']=C
df['Points']=D
df[:10]

,Rank,Player,Team,Points
0,1,Tammy Beaumont,ENG,765
1,2,Lizelle Lee,SA,758
2,3,Alyssa Healy,AUS,756
3,4,Stafanie Taylor,WI,746
4,5,Meg Lanning,AUS,723
5,6,Amy Satterthwaite,NZ,715
6,7,Smriti Mandhana,IND,710
7,8,Mithali Raj,IND,709
8,9\n \n\n\n\nThis player has moved up in...,Natalie Sciver,ENG,685
9,10\n \n\n\n\nThis player has moved up i...,Laura Wolvaardt,SA,683

Top 10 women’s ODI all-rounder

In [21]:
url= "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
source = requests.get(url).text
soup = BeautifulSoup(source,"lxml")

right_table=soup.find('table', class_='table')
A=[]
B=[]
C=[]
D=[]
E=[]
#for making first heaader
states = right_table.find('tr')
s = states.find_all('th')

for row in right_table.findAll('tr'):
      # first row has no TH, but other rows have one TH and 6 TD
    cells = row.findAll('td') 
    # first row has 7 TH 
    if len(cells) == 5:
        A.append(cells[0].text.strip()) #rank,it is not position
        #skip the sequence number column
        B.append(cells[1].text.strip())
        C.append(cells[2].text.strip())
        D.append(cells[3].text.strip())
        
      
    
    

df=pd.DataFrame({})
df['Rank']=A
df['Player']=B
df['Team']=C
df['Points']=D
df[:10]

,Rank,Player,Team,Points
0,1,Marizanne Kapp,SA,418
1,This player has moved down in the rankings sin...,Ellyse Perry,AUS,418
2,3,Stafanie Taylor,WI,410
3,4,Natalie Sciver,ENG,349
4,5,Deepti Sharma,IND,343
5,6,Jess Jonassen,AUS,307
6,7,Ashleigh Gardner,AUS,252
7,8\n \n\n\n\nThis player has moved up in...,Dane van Niekerk,SA,243
8,9\n \n\n\n\nThis player has moved down ...,Sophie Devine,NZ,242
9,10\n \n\n\n\nThis player has moved down...,Amelia Kerr,NZ,236

# mobile phones under Rs. 20,000 listed on Amazon.in

In [24]:
#price
page = requests.get('https://www.amazon.in/s?k=mobile&rh=p_36%3A-2000000&qid=1622736496&rnid=1318502031&ref=sr_nr_p_36_5')
soup=BeautifulSoup(page.content)
name=soup.find_all("span",class_="a-price-whole")
a=[]
for i in name:
    a.append(i.text.replace("\n",""))
a

['8,799',
 '10,999',
 '14,999',
 '11,990',
 '8,999',
 '12,999',
 '11,990',
 '14,490',
 '10,999',
 '7,499',
 '8,799',
 '6,999',
 '7,499',
 '5,000',
 '7,499',
 '8,999']

In [25]:
#Average rating
name=soup.find_all("span",class_="a-size-base")
b=[]
for i in name:
    b.append(i.text.replace("\n",""))
b

['40,774',
 '15,836',
 '187,645',
 '13,147',
 '1,466',
 '30,447',
 '13,147',
 '24',
 '61,489',
 'Save ₹500',
 '45,209',
 '40,774',
 '45,209',
 '45,209',
 '3,340',
 '45,209',
 '770',
 'mobile realme mobile',
 'samsung',
 'mobile vivo',
 'mobile oppo',
 'redmi',
 'mobile under 5000',
 ' or ',
 'Department',
 'Smartphones & Basic Mobiles',
 'Smartphones',
 'Basic Mobiles',
 'Electronics',
 'Avg. Customer Review',
 'Brand',
 'Redmi',
 'Samsung',
 'Oppo',
 'OnePlus',
 'Vivo',
 'Panasonic',
 'realme',
 'Apple',
 'Tecno',
 'MI',
 'IKALL',
 'Nokia',
 'LG',
 'Micromax',
 'Motorola',
 'Lava',
 'Snexian',
 'itel',
 'Generic',
 'Gionee',
 'Xifo',
 'Coolpad',
 'Xiaomi',
 'BlackBerry',
 'Nillkin',
 'FORME',
 'Huawei',
 'ASUS',
 'Lenovo',
 'Energizer',
 'Zopo',
 'Intex',
 'Portronics',
 'Elv',
 'Leoie',
 'Tygot',
 'Moto',
 'R',
 'Google',
 'Vaku Luxos',
 'Price',
 'Any Price',
 'Under ₹1,000',
 '₹1,000 - ₹5,000',
 '₹5,000 - ₹10,000',
 '₹10,000 - ₹20,000',
 'Deals',
 "Today's Deals",
 'Mobile Phone Operating System',
 'Android',
 'Bada',
 'Blackberry',
 'iOS',
 'Palm Web OS',
 'Symbian',
 'WebOS',
 'Windows Phone',
 'Pay On Delivery',
 'Eligible for Pay On Delivery',
 'Internal Memory',
 'Less than 3.9 GB',
 '4 GB',
 '8 GB',
 '16 GB',
 '32 GB',
 '64 GB',
 '128 GB',
 '256 GB & above',
 'RAM',
 '8GB & above',
 '6GB',
 '4GB',
 '3 GB',
 '2 GB',
 '1 GB',
 'Less Than 512 MB',
 'Number of Cores',
 'Single Core',
 'Dual Core',
 'Triple Core',
 'Quad Core',
 'Hexa Core',
 'Octa Core',
 'Screen Size',
 'Below 3.9 Inches',
 '4 To 4.4 Inches',
 '4.5 To 4.9 Inches',
 '5 To 5.4 Inches',
 '5.5 Inches & Above',
 'Processor Speed',
 'Less Than 0.99 GHz',
 '1 - 1.49 GHz',
 '1.5 - 1.99 GHz',
 '2 - 2.4 GHz',
 '2.5 GHz & Above',
 'Battery Capacity',
 'Less Than 999 mAh',
 '1000 - 1999 mAh',
 '2000 - 2999 mAh',
 '3000 - 3999 mAh',
 '4000 mAh & More',
 'Colour',
 'Front Camera Resolution',
 'Up to 3.9 MP',
 '4 - 7.9 MP',
 '8 - 11.9 MP',
 '12 - 15.9 MP',
 '16 - 19.9 MP',
 '20 - 23.9 MP',
 '24 - 27.9 MP',
 '28 - 31.9 MP',
 '32 MP & Above',
 'Mobile Phone Primary Camera Resolution',
 'Up to 3.9 MP',
 '4 - 7.9 MP',
 '8 - 11.9 MP',
 '12 - 15.9 MP',
 '16 - 19.9 MP',
 '20 - 23.9 MP',
 '24 - 27.9 MP',
 '28 - 31.9 MP',
 '32 MP & Above',
 'Device Features',
 'Bluetooth Tethering',
 'Dual SIM',
 'E-Mail',
 'GPS',
 'Hotspot',
 'Internet',
 'MP3',
 'Music Player',
 'Primary Camera',
 'Radio',
 'Secondary Camera',
 'Touchscreen',
 'USB',
 'WAP',
 'Data Transfer',
 '3G',
 '4G',
 'Edge',
 'GPRS',
 'GSM',
 'WiFi',
 'Item Condition',
 'New',
 'Discount',
 '10% Off or more',
 '25% Off or more',
 '35% Off or more',
 '50% Off or more',
 'Availability',
 'Include Out of Stock']

In [26]:
#Image
name=soup.find_all("div",class_="a-section aok-relative s-image-fixed-height")
c=[]
for i in name:
    c.append(i.text.replace("\n",""))
c

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [27]:
#Product Name
pname=soup.find_all("span",class_="a-size-medium a-color-base a-text-normal")
c=[]
for i in pname:
    c.append(i.text.replace("\n",""))
c

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A54 (Crystal Black, 4GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9A (Midnight Black 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9A (Sea Blue 3GB RAM 32GB Storage)| 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Redmi 9A(Midnight Black 3GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Samsung Galaxy M11 (Violet, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers']

# local weather from the National Weather Service

In [28]:
page = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.77493000000004&lon=-122.41941999999995#.YLjrj6gza00')
soup=BeautifulSoup(page.content)
name=soup.find_all("p",class_="period-name")
day=[]
for i in name:
    day.append(i.text.replace("\n",""))
day

['Today',
 'Tonight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight',
 'Monday']

In [29]:
days=soup.find_all("p",class_="short-desc")
desc=[]
for i in days:
    desc.append(i.text.replace("\n",""))
desc

['Sunny thenSunny andBreezy',
 'IncreasingClouds',
 'Mostly Sunnythen Sunnyand Breezy',
 'Mostly Clearand Breezythen MostlyClear',
 'Sunny',
 'Mostly Clear',
 'Sunny',
 'Mostly Clear',
 'Sunny']

In [30]:
t=soup.find_all("p",class_="temp temp-high")
temp=[]
for i in t:
    temp.append(i.text.replace("\n",""))
temp

['High: 68 °F', 'High: 68 °F', 'High: 68 °F', 'High: 67 °F', 'High: 64 °F']

# fresher job listings

In [31]:
page = requests.get('https://internshala.com/fresher-jobs/matching-preferences/page-1')
soup=BeautifulSoup(page.content)
job=soup.find_all("div",class_="heading_4_5 profile")
title=[]
for i in job:
    title.append(i.text.replace("\n",""))
title

['Customer Service Specialist ',
 'Graphic Designer ',
 'Digital Marketing Specialist ',
 'Junior Corporate Sales Executive ',
 'Backend Developer ',
 'Junior Operations Executive ',
 'Internal Audit Associate ',
 'Business Marketing Manager ',
 'React Native Developer ',
 'Research And Communications Associate ',
 'Data Scientist ',
 'Data Science Django Developer ',
 'Corporate Sales Associate ',
 'Full Stack Developer ',
 'Full Stack Developer (MERN) ',
 'Business Development Executive ',
 'Sales Development Representative ',
 'Graphic Designer ',
 'Operations Executive ',
 'Business Development Executive ',
 'Admission Counselor (Sales) ',
 'Sales And Business Development Analyst ',
 'Growth Hacking Digital Marketer ',
 'Junior Node.js Developer ',
 'Junior Digital Marketing Executive ',
 'iOS App Developer ',
 'Food Journalist ',
 'Junior Software Developer ',
 'Full Stack Developer ',
 'Business Analyst ',
 'Associate Full Stack Developer ',
 'Full Stack Engineer ',
 'Product Marketer ',
 'Business Development Executive ',
 'Associate - Business Development ',
 'Research Analyst (Economics) ',
 'Machine Learning Engineer ',
 'Business Analyst ',
 'Business Development Executive (Inside Sales) ',
 'Business Development Associate ']

In [32]:
cname=soup.find_all("div",class_="heading_6 company_name")
company_name=[]
for i in cname:
    company_name.append(i.text.strip())
company_name

['Wono Inc',
 'Wono Inc',
 'Wono Inc',
 'Wyntem',
 'HomeJam',
 'NCTI LLP',
 'Transpeninsula LLC',
 'MentorBoxx',
 'Runners Planet',
 'Institute For Governance, Policies & Politics',
 'ProtonAutoML',
 'Markytics',
 'MiM-Essay',
 'Wondermail',
 'Project Tinker',
 'Kaizen Academy',
 'Amigobulls',
 'Underground Movement LLP',
 'Alphacore Technologies Private Limited',
 'Ruhcom Enterprises Private Limited',
 'Sky Education Group',
 "Mo's F&B Group",
 'Sleep Love',
 'Askadmissions.ai',
 'Krivy',
 'Ascentspark Software Private Limited',
 'Truffle Nation',
 'Habitate Technologies Private Limited',
 'SoluLab',
 'SoluLab',
 'REPOZITORY TECHNOLOGIES PRIVATE LIMITED',
 'Beehive Academy India',
 'Bip',
 'Tabeazy',
 'Leverage Edu',
 'DEX-DEFT Research And Consulting OPC Private Limited',
 'AIMonk Labs Technology Limited',
 'Kasper Consulting Private Limited',
 'GREedge',
 'PEPKIDZ LEARNING']

In [33]:
pay=soup.find_all("div",class_="item_body")
ctc=[]
for i in pay:
    ctc.append(i.text.strip())
ctc

['Starts\xa0Immediately',
 '5.2 - 6.4 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '7 - 8.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '4.8 - 6 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '4 - 8.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '6.62 - 7.95 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "2 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "2 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.5 LPA',
 "2 Jul' 21",
 'Starts\xa0Immediately',
 '4 - 7 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '4 - 7.2 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '4.5 - 6 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 6.5 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 3.1 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3.6 - 7 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '5.2 - 7 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "28 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4.2 LPA',
 "28 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '4.2 - 8.2 LPA',
 "28 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 6 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3.6 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.5 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3.25 - 4 LPA',
 "26 Jun' 21",
 'Starts\xa0Immediately',
 '3.75 LPA',
 "26 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "25 Jun' 21"]